.header {
    background-color: #1a1a1a;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 0 10px;

    a {
        text-decoration: none;
        font-weight: 600;
    }
    
    .headerContainer {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .userInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .userImage {
            display: flex;
            justify-content: center;
            align-items: center;

            .userLogo {
                width: 50px;
                height: 50px;
            }
        }
    }
}